/* 命名規則: BEM */
/* Vue-Flow */
@import "@vue-flow/core/dist/style.css"; /* these are necessary styles for vue flow */
@import "@vue-flow/core/dist/theme-default.css"; /* this contains the default theme, these are optional styles */

:root {
  box-sizing: border-box;
}

.pageView {
  font-family: "JetBrains Mono", monospace;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 5px;
}

.pageView-header {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
  padding: 1%;
}

.pageView-counter {
  width: 100%;
  border-radius: 0 0 12px 12px;
  background-color: #ffffff;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

/* vue-flow-------------------- */

.vue-flow__edges path {
  stroke-width: 2.5;
}

/* 預設節點樣式 */
.vue-flow__node,
.vue-flow__node-default {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: fit-content;
  min-width: 5rem;
  min-height: 3rem;
  padding: 1%;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}

/* 客製節點樣式 */
.vue-flow__node-form {
  border-color: #069f6cbf;
}
.vue-flow__node-start {
  background-color: #93adc4;
  color: #fff;
}
.vue-flow__node-approval {
  background-color: #9685e1;
  color: #fff;
  border-radius: 10% / 50%;
  /* clip-path: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0% 100%); */
}
.vue-flow__node-notify {
  background-color: #84c0ff;
  color: #fff;
  border-radius: 15px 15px 0 0;
}
.vue-flow__node-handle {
  background-color: #74cba0;
  border-radius: 25px 5px;
  color: #fff;
}
.vue-flow__node-end {
  background-color: #93979b;
  border-radius: 0;
  color: #fff;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  padding: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 20px 130px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.hidden {
  display: none;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
